.cabeçalho{
    background-color: rgb(0, 0, 0); /*coloca cor de fundo */
    display: flex;
    font-size: 300%;           /*coloca tamanho da fonte */
    color: aliceblue;         /*coloca cor da fonte*/
    width: 180%;                /*coloca largura da janela */
    height: 100px;                /*coloca caltura do espaço do cabeçalho */
    text-align: center;         /*alinha o texto do titulo */
    justify-content: space-between; /*coloca espaço entre os objetos do cabeçalho */
    align-items: center;
    
}
.logotipo{
    width: 60px;
    padding: 5px;
    margin: 05px;
}
.botão_login {
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    color: #b85c5c;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 29px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #5aa15e, #adca5d);
}

header{
    background-color: rgb(0, 0, 0);
}

img{
    text-align: center;
    scroll-padding-inline-end: 10px;
}